#key {
  margin: 0 auto 80px auto;

  padding: 20px;
  width: 170px;

  font-family: sans-serif;
  text-align: center;
  font-size: 18px;

  background-color: #ccfffc;
}

#chart {
  width: 800px;
  height: 400px;
  margin: 0 auto;
}
